<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VideoStream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <div class="main-container">
        <div class="sub-container">
            <div id="title-bar"></div>

                <div id="category-list-container">
                </div>

        </div>
    </div>

   <script src="js/index.js"></script>
</body>
</html>