.video_player{
    text-align: center;
    margin: 2px solid red;
}

.video_screen {
    max-width: -webkit-fill-available;
}

.video_score_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.video_score_element {
    padding: 10px;
}

.video_player_container {
    display: flex;
    justify-content: center;
}