<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>VideoStream</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login-registration.css">
  <link rel="stylesheet" href="css/global.css">
</head>
<body>
  <div class="form-container">
    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${applicationUser}" method="post" role="form">
      <div id="form-content">
        <h3 id="form-title">Registration</h3>

        <div class="input-div">
          <div class="input-label">Name:</div>
          <input class="form-input" type="text" th:field="*{name}" placeholder="Name"/>
          <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </div>

        <div class="input-div">
          <div class="input-label">Last name:</div>
          <input class="form-input" type="text" th:field="*{lastName}" placeholder="Last Name"/>
          <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
        </div>

        <div class="input-div">
          <div class="input-label">Email:</div>
          <input class="form-input" type="text" th:field="*{email}" placeholder="Email"/>
          <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
        </div>

        <div class="input-div">
          <div class="input-label">User name:</div>
          <input class="form-input" type="text" th:field="*{userName}" placeholder="User Name"/>
          <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></label>
        </div>

        <div class="input-div">
          <div class="input-label">Password:</div>
          <input class="form-input" type="password" th:field="*{password}" placeholder="Password"/>
          <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
        </div>

        <h2><span th:utext="${successMessage}"></span></h2>

        <div class="input-div">
          <button id="form-button" type="submit">Register</button>
        </div>
      </div>
    </form>
    <form th:action="@{/login}" method="get">
      <button id="redirect-button" type="Submit">Go To Login Page</button>
    </form>
  </div>
</body>
</html>