body {
    background-color: #b5bcff;
}

h1 {
    color: #2000b1;
}

h3 {
    color: #8B4513;
}

p {
    color: #2b2b2b;
}

.component-container {
    border: solid 2px #2F4F4F;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-container {
    padding: 10px;
}