body {
    background-color: #b5bcff;
}

h1 {
    color: #2000b1;
}

h3 {
    color: #8B4513;
}

p {
    color: #2b2b2b;
}

.component-container {
    border: solid 2px #2F4F4F;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    display: grid;
    grid-template-columns: 150px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner-container {
    padding: 10px;
}

.cell-container {
    max-height: 200px;
    overflow: auto;
    padding: 15px;
}

.synopsis {
    max-width: 500px;
}

th, td {
  border: 1px solid black;
}

td {
    max-height: 200px;
}