.main-container {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #002f5a;
}

.sub-container {
    padding-right: 25px;
    padding-left: 25px;
}

body {
    background-color: #474747;
}

h3 {
    color: #7ad1d1;
}

p {
    color: #afafaf;
}