.main-container {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #002f5a;
}

.sub-container {
    padding-right: 25px;
    padding-left: 25px;
}

body {
    background-color: #a0a0a0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: #5ff571;
}

h3 {
    color: #23cbd1;
    font-weight: 900;
}

p {
    color: #afafaf;
}