.list-element {
    color: #ffffff;
}

#video-list {
    color: #ffffff;
}

#video-card-container {
    display: flex;
    overflow: auto;
}

.video-card {
    border: solid 2px red;
    margin: 20px;
    background-color: #a0a0a0;
    border-radius: 10px;
}

.video-card-text-container {
    padding: 5px;
}

.video-card-image {
    max-width: 300px;
}

.video-card-title {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.video-card-synopsis {
    color: white;
    max-width: 300px;
    max-height: 100px;
    overflow: hidden;
}