.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 3rem auto 6rem;
    background-color: #5e5e5e6e;
}

.image_container {
    text-align: center;
    padding: 2rem;
}

.image {
    max-width: -webkit-fill-available;
}