<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>VideoStream</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/main.css">
</head>
<body>
   <header>
       <h1>VideoStream</h1>
   </header>

   <main>

       <div>
           <header>
               <h3>Video List</h3>
           </header>
           <ul id="video-list">
           </ul>
       </div>

   </main>

   <script src="js/main.js"></script>
</body>
</html>