<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VideoStream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <div class="main-container">
        <div class="sub-container">
            <div id="title-bar"></div>

            <div>
                <h3>Video List</h3>
                <ul id="video-list">
                </ul>

                <div class="video-card-container">
                    <div class="video-card">
                        <img class="video-card-image" src="video/image/noice">
                        <div class="video-card-title">Video 1</div>
                        <div class="video-card-synopsis">Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</div>
                    </div>

                    <div class="video-card">
                        <img class="video-card-image" src="video/image/noice">
                        <div class="video-card-title">Video 1</div>
                        <div class="video-card-synopsis">Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

   <script src="js/index.js"></script>
</body>
</html>