<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>JohnTube</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/main.css">
</head>
<body>
   <header>
       <h1>JohnTube</h1>
   </header>
   <main>
       <div id="video-list">
           <header>
               <h3>Your videos TZA</h3>
           </header>
           <ul id="your-videos">
           </ul>
       </div>
       <div id="video-player">
           <header>
               <h3 id="now-playing"></h3>
           </header>
           <video id="video-screen" width="720px" height="480px" src="http://localhost:8080/video/edgar" controls></video>
       </div>
       <button onclick="requestVideoData()">Load</button>
       <button onclick="playVideo()">Play</button>
       <form id="video-form">
           <fieldset>
               <legend>Upload a video</legend>
               <label for="file">Video File</label>
               <input id="file" name="file" type="file" accept="application/mp4">
               <label for="title">Title</label>
               <input id="title" name="title" type="text">
               <label for="description">Description</label>
               <input id="description" name="description" type="text">
               <button type="submit">Save</button>
           </fieldset>
       </form>
   </main>
   <script src="js/main.js"></script>
</body>
</html>