<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VideoStream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <div class="login-form-container">
        <form th:action="@{/login}" method="POST">
            <div id="form-container">
                <h3 id="form-title">Login</h3>

                <div class="input-div">
                    <div class="input-label">User name:</div>
                    <input id="user_name" name="user_name" type="text" placeholder="John_Doe" class="form-input"/>
                </div>

                <div class="input-div">
                    <div class="input-label">Password:</div>
                    <input id="password" name="password" type="password" placeholder="password" class="form-input"/>
                </div>

                <div th:if="${param.error}">
                    <p>User Name or Password invalid, please verify</p>
                </div>

                <div class="input-div">
                    <button id="form-button" name="Submit" type="Submit">Login</button>
                </div>
            </div>
        </form>
        <form th:action="@{/registration}" method="get">
            <button id="registration-button" type="Submit">Go To Registration Page</button>
        </form>
    </div>
</body>
</html>