<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Upload</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" href="css/upload-video.css">
</head>
<body>
  <h1>ADMIN PAGE</h1>

  <div id="response-message"></div>

  <div class="component-container">
    <div class="inner-container">
      <h3>Video list</h3>
      <table id="video-list-table">
        <tr>
          <th>Slug</th>
          <th>Title</th>
          <th>Synopsis</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="component-container">
    <div class="inner-container">
      <h3>Upload new video</h3>
      <form id="video-form">
        <div>
          <label for="video_file">Video File</label>
          <input id="video_file" name="video_file" type="file" accept="application/mp4">
        </div>

        <div>
          <label for="image_file">Image File</label>
          <input id="image_file" name="image_file" type="file" accept="application/mp4">
        </div>

        <div>
          <label for="slug">Slug</label>
          <input id="slug" name="slug" type="text">
        </div>

        <div>
          <label for="title">Title</label>
          <input id="title" name="title" type="text">
        </div>

        <div>
          <label for="synopsis">Synopsis</label>
          <input id="synopsis" name="synopsis" type="text">
        </div>

        <div>
          <label for="description">Description</label>
          <input id="description" name="description" type="text">
        </div>

        <button type="submit">Save</button>
      </form>
    </div>
  </div>

  <script src="js/upload-video.js"></script>
</body>
</html>