.image_carousel_container {
    margin: 4rem;
    position: relative;
}

.image_carousel {
    width: 30rem;
    height: 30rem;
}

.element_footer {
    width: 100%;
}

.element_text {
    position: absolute;
    bottom: 0;
    margin:0.5rem;
}

.element_link {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #3564ff75;
}

.element_link:hover {
    background-color: #3564ff;
    cursor: pointer;
}