.buttons_container {
    position: relative;
}

.action_button_left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
}

.action_button_right {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
}

.carousel_container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.scroll_element {
    background-color: #3564ff75;
    padding: 1rem;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid #00000093;
}

.scroll_element:hover {
    background-color: #3564ff;
    cursor: pointer;
    border: 2px solid #000000;
}