.video_card_modal_background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #00000091;
}

.video_card_modal_close_button {
    position: absolute;
    left: 0%;
    right: -250px;
    top: 13rem;
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
}