.video_link {
    text-decoration: none;
}

.video_card {
    border: solid 10px #252525;
    margin: 1.5rem;
    background-color: #252525;
}

.video_card_image {
    max-width: 17rem;
    min-width: 17rem;
    min-height: 15rem;
    max-height: 15rem;
}

.video_card_text_container {
    padding: 0.5rem;
}

.video_card_title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
    max-width: 16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video_card_synopsis {
    color: #ffffff;
    max-width: 20rem;
    max-height: 10rem;
    overflow: hidden;
    max-width: 16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}